@font-face {
    font-family: "DIGITAL-7";
    src: url("./src/digital-7.ttf") format('truetype');
}

.body{
        margin:0;
}

.calculator_body{
        width:40vw;
        height:80vh;
        min-height:500px;
        overflow-y:scroll;
        margin:5% auto;
        border:2px solid black;
        border-radius: 10px;
        background-color: black;
        overflow: hidden;
}

.screen{
        margin: 20px auto ;
        width:90%;
        height:15%;
        border:2px solid black;
        border-radius:10px;
        background-color:rgb(241, 237, 173);
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-family: "DIGITAL-7";
        font-size: 6rem;
}

.buttons_container{
        width:90%;
        min-height: 70%;
        max-height: 80%;
        margin:0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: stretch;
    
}

.button{
        background-color: rgba(143, 143, 143, 0.822);
        color:white;
        font-size: 4rem;
        flex-basis: 22%;
        margin:5px;
        height: auto;
        padding:5px;
        max-width: 22%;
   
}
.op{
        background-color: rgb(253, 48, 48);
        color:rgb(243, 217, 217);
}